### We are processing MTA turnstil data from 2010 to 2019 in this notebook. however, the turnstil data was not in same format before 20141011, so we need to reformat the data:

#### Before 20141011, each row of turnstil data has three records. we only need to keep one record for each row.
#### Before  20141011, turnstil data does not have station information, which we need to merge with MTA station dataset.

### Table of Contents:
* [Processing data from 2010 to 2011](#1)
* [Processing data from 2013 to 2014](#2)
* [Merge with MTA data to create station name in turnstile dataset](#3)
* [Processing data from 2015 to 2019](#4)

<a id='1'></a>
## 1. Processing data from 2010 to 2011

### From 2010 to 2012, MTA turnstil did not keep data record for every week, so I will concatenate files in few steps, and skips those dates that do not have turnstil records.

In [1]:
from datetime import *
from datetime import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
date_from = date(2010,6,5)
date_to = date(2011,11,17)
filenames_10_11 = []


pointer = date_from
while pointer <= date_to:
    filenames_10_11.append('turnstile_' + pointer.strftime("%y%m%d") + '.txt')
    pointer += timedelta(days = 7)

In [3]:
dataframe_10_11 = []
for link in filenames_10_11:
    dataframe_10_11.append(pd.read_csv(link, header = None, usecols=range(0, 43)))

In [4]:
date_from = date(2011,11,19)
date_to = date(2011,12,10)
filenames_11 = []


pointer = date_from
while pointer <= date_to:
    filenames_11.append('turnstile_' + pointer.strftime("%y%m%d") + '.txt')
    pointer += timedelta(days = 7)

In [5]:
filenames_11.append('turnstile_111219.txt')
filenames_11.append('turnstile_111224.txt')
filenames_11.append('turnstile_111231.txt')

In [6]:
dataframe_11 = []
for link in filenames_11:
    dataframe_11.append(pd.read_csv(link, header = None, usecols=range(0, 43)))

#### Concatenate pandas series together (data from 2010 to 2011)

In [7]:
df_10_11 = dataframe_11 + dataframe_10_11

In [8]:
def clean(df):
    info =  df.iloc[:,0:3]
    df1 = pd.concat([info,df.iloc[:,3:8]],axis=1)
    df2 = pd.concat([info,df.iloc[:,8:13]],axis=1)
    df3 = pd.concat([info,df.iloc[:,13:18]],axis=1)
    df4 = pd.concat([info,df.iloc[:,18:23]],axis=1)
    df5 = pd.concat([info,df.iloc[:,23:28]],axis=1)
    df6 = pd.concat([info,df.iloc[:,28:33]],axis=1)
    df7 = pd.concat([info,df.iloc[:,33:38]],axis=1)
    df8 = pd.concat([info,df.iloc[:,38:43]],axis=1)
    listofdf = [df1,df2,df3,df4,df5,df6,df7,df8]
    for df in listofdf:
        df.columns = ['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
    wholedf = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],axis=0)
    return(wholedf.sort_values(by = ['C/A','UNIT','SCP','DATE','TIME']))

#### Now reformatting the data from 2010 to 2011, and put it into dataframe

In [9]:
# combine all list into one dataframe
data_2010_11 = pd.concat([clean(i) for i in df_10_11], axis = 0)

# set column index
data_2010_11 = data_2010_11.reset_index()

# drop the first index column
data_2010_11.drop(['index'], axis = 1, inplace = True)

# remove error data with 'DATE' == NaN
data_2010_11_removed = data_2010_11[data_2010_11['DATE'].notnull()]

In [10]:
data_2010_11_removed .head()

    C/A  UNIT       SCP      DATE      TIME     DESC    ENTRIES      EXITS
0  A002  R051  02-00-00  11-12-11  03:00:00  REGULAR  3391232.0  1171297.0
1  A002  R051  02-00-00  11-12-11  07:00:00  REGULAR  3391249.0  1171304.0
2  A002  R051  02-00-00  11-12-11  11:00:00  REGULAR  3391339.0  1171414.0
3  A002  R051  02-00-00  11-12-11  15:00:00  REGULAR  3391584.0  1171474.0
4  A002  R051  02-00-00  11-12-11  19:00:00  REGULAR  3391978.0  1171530.0

In [11]:
data_2010_11_removed.shape

(17668545, 8)

<a id='2'></a>
## 2. Processing data from 2010 to 2012

In [15]:
date_from = date(2013,1,5)
date_to = date(2014,10,11)
filenames_13_14 = []


pointer = date_from
while pointer <= date_to:
    filenames_13_14.append('turnstile_' + pointer.strftime("%y%m%d") + '.txt')
    pointer += timedelta(days = 7)

In [16]:
# read date
dataframe_list = []
for link in filenames_13_14:
    dataframe_list.append(pd.read_csv(link, header = None, usecols=range(0, 43)))

In [18]:
# define a function that rearrange the data in every line
def clean(df):
    info =  df.iloc[:,0:3]
    df1 = pd.concat([info,df.iloc[:,3:8]],axis=1)
    df2 = pd.concat([info,df.iloc[:,8:13]],axis=1)
    df3 = pd.concat([info,df.iloc[:,13:18]],axis=1)
    df4 = pd.concat([info,df.iloc[:,18:23]],axis=1)
    df5 = pd.concat([info,df.iloc[:,23:28]],axis=1)
    df6 = pd.concat([info,df.iloc[:,28:33]],axis=1)
    df7 = pd.concat([info,df.iloc[:,33:38]],axis=1)
    df8 = pd.concat([info,df.iloc[:,38:43]],axis=1)
    listofdf = [df1,df2,df3,df4,df5,df6,df7,df8]
    for df in listofdf:
        df.columns = ['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
    wholedf = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],axis=0)
    return(wholedf.sort_values(by = ['C/A','UNIT','SCP','DATE','TIME']))

In [19]:
# combine all list into one dataframe
data_2013 = pd.concat([clean(i) for i in dataframe_list], axis = 0)

# set column index
data_2013 = data_2013.reset_index()

# drop the first index column
data_2013.drop(['index'], axis = 1, inplace = True)

# remove error data with 'DATE' == NaN
data_2013_removed = data_2013[data_2013['DATE'].notnull()]

In [20]:
data_2013_removed.head()

    C/A  UNIT       SCP      DATE      TIME     DESC    ENTRIES      EXITS
0  A002  R051  02-00-00  01-01-13  03:00:00  REGULAR  3932284.0  1355714.0
1  A002  R051  02-00-00  01-01-13  07:00:00  REGULAR  3932299.0  1355721.0
2  A002  R051  02-00-00  01-01-13  11:00:00  REGULAR  3932327.0  1355774.0
3  A002  R051  02-00-00  01-01-13  15:00:00  REGULAR  3932427.0  1355811.0
4  A002  R051  02-00-00  01-01-13  19:00:00  REGULAR  3932662.0  1355849.0

<a id='3'></a>
## 3. Merge with MTA data to create station name in turnstile datasets

In [21]:
stationname = pd.read_excel('Remote-Booth-Station.xls')

In [22]:
# check how many stations are there
stationname['Station'].nunique()

395

In [23]:
# check the dataframe
stationname.head()

  Remote  Booth       Station Line Name Division
0   R001   A060  WHITEHALL ST        R1      BMT
1   R001   A058  WHITEHALL ST        R1      BMT
2   R001  R101S   SOUTH FERRY        R1      IRT
3   R002   A077     FULTON ST  ACJZ2345      BMT
4   R002   A081     FULTON ST  ACJZ2345      BMT

In [24]:
stationname.columns

Index(['Remote', 'Booth', 'Station', 'Line Name', 'Division'], dtype='object')

In [25]:
# check which index is unique for every turnstile, Remote or Booth
#(stationname['Remote'].value_counts()>1).any()
(stationname['Booth'].value_counts()>1).any()

False

In [26]:
# keep only 'Booth' and 'Station' columns
stationname = stationname[['Booth', 'Station','Line Name','Division']]

In [27]:
stationname.columns

Index(['Booth', 'Station', 'Line Name', 'Division'], dtype='object')

In [28]:
# change column index name in order to bring into correspondence with turnstiles dataframe
stationname.rename(columns = {'Booth': 'C/A', 'Station': 'STATION','Line Name':'LINENAME','Division':'DIVISION'}, inplace = True)

In [29]:
# check is there any missing values
stationname['C/A'].isnull().sum()

0

In [30]:
# check duplicates
len(stationname)

768

### Combine into one single dataframe

In [32]:
# merge turnstiles dataframe and stationname on 'C/A', delete duplicate rows
final_df_2010_11 = pd.merge(data_2010_11_removed, stationname, on = ['C/A'])
final_df_2010_11 = final_df_2010_11.drop_duplicates()

In [34]:
final_df_2010_11.to_csv('turnstile_2010_11.csv',index=False)

In [35]:
#from 2013 to 20141011
final_df_2013 = pd.merge(data_2013_removed, stationname, on = ['C/A'])
final_df_2013=final_df_2013.drop_duplicates()

#### Since the data only include until 20141011, now we are including other weeks in 2014, and save it in csv file for MTA turnstile data of 2013-2014

In [36]:
date_from = date(2014,10,11)
date_to = date(2014,12,27)
links_2014 = []


pointer = date_from
while pointer <= date_to:
    links_2014.append('turnstile_' + pointer.strftime("%y%m%d") + '.txt')
    pointer += timedelta(days = 7)

In [37]:
dataframe_list2 = []
for link in links_2014:
    dataframe_list2.append(pd.read_csv(link, header = None, usecols=range(0, 11),low_memory=False))

In [38]:
for df in dataframe_list2:
        df.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXIT']

In [39]:
# combine all list into one dataframe
data_2014 = pd.concat([i for i in dataframe_list2], axis = 0)

In [40]:
data_2014.shape

(1898328, 11)

#### After we formated the data from two different year, now we are combining the data and save it in a csv file.

In [41]:
data_13_14 = pd.concat([final_df_2013, data_2014], join='inner')

In [46]:
data_13_14 .to_csv('turnstile_2013_14.csv',index=False)

<a id='4'></a>
## 4. Processing data from 2015 to 2019

In [50]:
mydate = date(2015, 1, 3)
date_to = date(2019,9,14)

filenames_15_19 = []


pointer = date_from
while pointer <= date_to:
    filenames_15_19.append('turnstile_' + pointer.strftime("%y%m%d") + '.txt')
    pointer += timedelta(days = 7)

In [52]:
df_15_19 = []
for link in filenames_15_19:
    df_15_19.append(pd.read_csv(link, header = None, usecols=range(0, 11),low_memory=False))

In [53]:
for df in df_15_19:
        df.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXIT']

In [54]:
data_2015_19 = pd.concat([i for i in df_15_19], axis = 0)

In [56]:
data_2015_19 .shape

(50340281, 11)

In [58]:
data_2015_19.to_csv('turnstile_2015_19.csv',index=False)

### Merge all together

In [61]:
data_all = pd.concat([data_13_14,data_2015_19,final_df_2010_11], join='inner')

In [62]:
data_all.to_csv('turnstile_all.csv',index=False)

In [ ]:
-a